/* Global Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F6ECDB;
    --secondary-color: #DFBA89;
    --dark-color: #141414;  
    --light-color: #f4f4f4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: var(--dark-color);
}


/* Styling for Navigation */
nav {
    width: 100%;
    height: 100%;
    max-height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    z-index: 999;

    /* Styling for Navigation Children */
    .profile-link a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--dark-color);
        font-weight: bold;
    }
    
    /* Styling for Search Bar */
    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        
        /* Styling for Search Bar Children */
        .search-results {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 200px;
            max-height: 300px;
            overflow-y: scroll;
            margin-top: 0.5rem;
            background-color: #eaeaea;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
            padding: 1rem;
            
        }

    }

    .search {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
    }
    
    .search-bar input {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
    
    .search-bar button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
        background-color: var(--dark-color);
        color: var(--light-color);
        cursor: pointer;
    
        &:hover {
            background-color: var(--light-color);
            color: var(--dark-color);
            transition: background-color 0.3s ease-in-out;
        }
    }
    
    .user {
        border-radius: 100%;
        border: 0.2rem solid var(--dark-color);
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;
    }

    .profile-link  {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    
}


.error {
    color: red;
    font-size: 1rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

footer {
    width: 100%;
    height: 100%;
    width: fit-content;
    max-height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 1rem;

    .footer-content a {
        text-decoration: none;
        color: var(--dark-color);
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 20px;
        border: 0.2rem solid var(--dark-color);
        background-color: var(--dark-color);
        color: var(--light-color);
        cursor: pointer;
        width: fit-content;
        margin-right: 1rem;

        &:hover {
            background-color: var(--light-color);
            color: var(--dark-color);
            transition: background-color 0.3s ease-in-out;
        }
    }
}


/* Media Queries */
@media (min-width: 320px) and (max-width: 600px) {
    nav {
        flex-direction: column;

        .profile-link {
            display: none;
        }
    }
    
}