/* Current Post Styling */

.current-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    max-width: 750px;
    min-height: 100vh;
    margin-top: 5.75rem;
    margin-right: 3rem;
}

.current-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    max-width: 750px;
    min-height: 100vh;
    

    .post .author {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    .post .profilePic {
        border-radius: 100%;
        border: 0.2rem solid var(--dark-color);
        width: 3rem;
        height: 3rem;
    }

    
    .post .vote p {
        color: var(--dark-color);
        margin-top: 0;
    }
}

/* Media Queries */

/* Media Queries for Smaller Devices */
@media (max-width: 320px) {
    .current-content {
        margin-top: 8.25rem;
        max-width: 600px;
        margin-right: 0;
        padding: 1rem;
    }
}

/* Media Queries for Mobile */
@media (min-width: 320px) and (max-width: 600px) {
    .current-content {
        margin-top: 8.25rem;
        max-width: 600px;
        margin-right: 0;
        padding: 1rem;
    }
}

/* Media Queries for Tablets */
@media screen and (min-width: 601px) and (max-width: 1280px) {
    .current-content {
        margin-top: 8.25rem;
        max-width: 1080px;
        margin-right: 0;
        padding: 1rem;

        .current-posts {
            max-width: 1080px;
        }
    }
}


