/* Edit Post Styling */
.edit-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    min-height: 100vh;
    margin-right: 2.5rem;
    margin-top: 5.75rem;
}

/* Styling for Edit Post Container */
.editPost {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 750px;
}


/* Styling for Edit Post Form */
.editPost .editForm-container {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1rem;


    /* Styling for Edit Post Form Children or Elements */
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h2 {
        margin-bottom:  0.5rem;
    }

    
    form label {
        font-weight: bold;
    }
    

    form .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    form input {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
        width: 100%;
    }
    
    form textarea {
        resize: vertical;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
        width: 100%;
    }
    
    form .editPost-btn {
        display: flex;
        justify-content: end;
        gap: 1rem;
        width: 100%;
    }
    
    form .editPost-btn button,
    form .editPost-btn a {
        text-decoration: none;
        color: var(--dark-color);
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
        background-color: var(--dark-color);
        color: var(--light-color);
        width: fit-content;
        cursor: pointer;
    }
    
    form .editPost-btn button:hover,
    form .editPost-btn a:hover {
        background-color: var(--light-color);
        color: var(--dark-color);
        transition: background-color 0.3s ease-in-out;
    }
}

/* Media Queries */

/* Media Queries for Smaller Mobile Devices */
@media (max-width: 320px) {
    .edit-content {
        margin-top: 7rem;
        margin-right: 0;
        padding: 1.5rem;
    }
}

/* Media Queries for Mobile Devices */
@media (min-width: 320px) and (max-width: 600px) {
    .edit-content {
        margin-top: 7rem;
        margin-right: 0;
        padding: 1rem;
    }
}

/* Media Queries for Tablets */
@media (min-width: 601px) and (max-width: 1280px) {
    .edit-content {
        margin-right: 0;
        padding: 1.5rem;
        margin-top: 7rem;
    }
}

/* Media Queries for Laptops and Desktops */
@media (min-width: 1281px) and (max-width: 1400px) {
    .edit-content {
        margin-top: 3rem;
        padding: 1.5rem;
    }
}