/* Styling for Forgot Password Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Styling for Forgot Password Container Children or Elements */
    h1 {
        text-align: center;
        font-size: 2rem;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .form-group-captcha {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}


/* Styling for Forgot Password Form */
.forgotForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-image: url("../img/backgrounds/greekHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -4px -4px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    color: var(--dark-color);

    /* Styling for Forgot Password Form Children or Elements */
    label {
        font-weight: bold;
    }

    input {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
    }

    button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
        background-color: var(--dark-color);
        color: var(--light-color);
        cursor: pointer;
    }
    
    button:hover {
        transition: background-color 0.3s ease-in-out;
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .auth-options {
        font-weight: 800;

        a {
            font-weight: bold;
            text-decoration: none;
            color: var(--light-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

/* Media Queries */

/* Media Query for Mobile Devices */
@media (min-width: 320px) and (max-width: 600px) {
    .container {
        padding: 0.5rem;
    }

    .forgotForm {
        padding: 1rem;
    }
}













