/* Styling for Forgot Password Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Styling for Forgot Password Container Children or Elements */
    h1 {
        text-align: center;
        font-size: 2rem;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
}


/* Styling for Forgot Password Form */
.forgotForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-image: url("../img/backgrounds/waves.jpg");
    width: 100%;
    max-width: 400px;
    color: var(--light-color);

    /* Styling for Forgot Password Form Children or Elements */
    label {
        font-weight: bold;
    }

    input {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
    }

    button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
        background-color: var(--dark-color);
        color: var(--light-color);
        cursor: pointer;
    }
    
    button:hover {
        transition: background-color 0.3s ease-in-out;
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .auth-options {

        a {
            text-decoration: none;
            color: var(--light-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }

}













