/* Styling for Login and Register Containers */
.logContainer, .regContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Styling for Login and Register Forms */
    .loginForm {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -4px -4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        background-image: url("../img/backgrounds/greekHome.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        max-width: 500px;
        color: var(--dark-color);
    }

    .regForm {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        background-image: url("../img/backgrounds/dragon.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        max-width: 400px;
        color: var(--dark-color);
    }
    
    form h1 {
        text-align: center;
    }
    
    form label {
        font-weight: bold;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .form-group-captcha {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
    
    form input {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
    }
    
    form button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid var(--dark-color);
        background-color: var(--dark-color);
        color: var(--light-color);
        cursor: pointer;
    }
    
    form button:hover {
        transition: background-color 0.5s ease-in-out;
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .auth-options {
        display: flex;
        justify-content: space-between;
        font-weight: 800;

        a {
            text-decoration: none;
            color: var(--light-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .auth-register {
        font-weight: 800;
        
        a {
            text-decoration: none;
            color: var(--light-color);

            &:hover {
                text-decoration: underline;
            }
        }
        
    }
}

/* Styling for Container of Register */
.regContainer {
    height: 100%;
    max-height: 1000px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 0.5rem 0 0.5rem;
}

/* Media Query for Smaller Screens */
@media (max-width: 312px) {

    .loginForm, .regForm {
        padding: 1rem;
    }

    .logContainer .loginForm {
        width: 100%;
        max-width: 312px;
        height: fit-content;
        padding: 1rem;
        margin: 3rem;
    }

    .regContainer .regForm{
        width: 100%;
        max-width: 312px;
        height: fit-content;
        padding: 1rem;
        margin: 3rem;
    }

    .logContainer form h1, .regContainer form h1 {
        font-size: 1.5rem;
    }

    .logContainer form input, .regContainer form input {
        padding: 0.5rem;
    }
    
    .auth-options {
        flex-direction: column;
        gap: 0.4rem;
        font-size: 0.8rem;
    }

    .form-group-captcha { 
        font-size: 0.8rem;
        width: 100%;
        max-width: 312px;

        .g-recaptcha {
            width: 100%;
            max-width: 312px;
        }
    }
}



/* Media Query for Mobile Devices */
@media (min-width: 320px) and (max-width: 600px) {

    .logContainer {
        padding: 0 0.5rem 0 0.5rem;
    }

    .loginForm, .regForm {
        padding: 2rem;
    }

    .logContainer .loginForm {
        width: 100%;
        max-width: 600px;
        height: fit-content;
        padding: 1rem;
        margin: 3rem;
    }

    .regContainer .regForm{
        width: 100%;
        max-width: 600px;
        height: fit-content;
        padding: 1rem;
        margin: 3rem;
    }

    .logContainer form h1, .regContainer form h1 {
        font-size: 1.5rem;
    }

    .logContainer form input, .regContainer form input {
        padding: 0.5rem;
    }
    
    .auth-options {
        flex-direction: column;
        gap: 0.4rem;
        font-size: 0.8rem;
    }

    .form-group-captcha {
        width: 100%;
        max-width: 600px;

        .g-recaptcha {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}

/* Media Query for Tablets */
@media (min-width: 601px) and (max-width: 1280px) {
    .container form {
       width: 80%;
       max-width: 300px;
    }
}