.posts .profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

/* Styling for Profile Box */
.posts .profile-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5rem;
    padding: 2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    border-radius: 1rem;
    background-color: var(--light-color);
    width: 100%;
    max-width: 1000px;

    /* Styling for Profile Box Children */

    .activity-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .profile {
        display: flex;
        justify-content: center;
    }

    img {
        border-radius: 100%;
        border: 0.2rem solid var(--dark-color);
        width: 10rem;
        height: 10rem;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* Styling for Profile Settings */
    .profile-settings {
        display: flex;
        gap: 0.5rem;

        /* Styling for Profile Settings Children */
        a, button {
            text-decoration: none;
            font-weight: bold;
            font-size: 1rem;
            padding: 0.5rem;
            font-size: 1rem;
            width: fit-content;
            border-radius: 0.5rem;
            background-color: var(--dark-color);
            color: var(--light-color);
            cursor: pointer;
            border: 0.2rem solid var(--dark-color);
        }

        a:hover, button:hover {
            background-color: var(--light-color);
            color: var(--dark-color);
            transition: background-color 0.3s ease-in-out;
        }
    }

    /* Styling for Profile Requests */
    .profile-info .request-container {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    /* Styling for Profile Activity */
    .profile-activity {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 0.5rem;
    }
}



/* Media Queries */

/* Media Queries for Mobile Devices */
@media (min-width: 320px) and (max-width: 600px) {
    .posts .profile-box {
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 0.5rem;
       padding: 0.5rem;

        img {
            width: 5rem;
            height: 5rem;
        }

        .profile-info {
            text-align: center;
         }
    }

  

    
}